

.box2{
	padding: 50px;
	width: 100px;
	height: 100px;
	background-color:greenyellow;
	float: left;


}

/* 	margin: 10px;
	min-height: 80px;
	background-color:white;
	font-size: 30px;
	color: blue;
	text-align: center; */


